
<style>

#introScene
{
	background: #17bc99;
	display: none;
}

#introBg
{
	position: absolute;
	bottom: 0px;
}

#introButtons
{
	text-align: center;
}
	#introButtons img
	{
		cursor: pointer;
		margin:0 10px;
	}

#introLogo
{
	display: block;
	margin: 0px auto;
}

#playerName
{
	margin: 0px auto 30px auto;
	display: block;
	background: rgba(255, 255, 255, .1);
}
#playerName:active,#playerName:focus
{
	background: rgba(255, 255, 255, .4);
}

</style>

<div id="introScene" class="Scene">

	<img style="display:none;" src="images/scenes/intro/bg.png" id="introBg" />

	<div id="introButtons">
		<img src="images/scenes/intro/button_ranking.png" id="introBtnRanking" />
		<img src="images/scenes/intro/button_bonus.png" id="introBtnBonus" />
		<img src="images/scenes/intro/button_process.png" id="introBtnProcess" />
		<img src="images/scenes/intro/button_conveyorBelt.png" id="introBtnConveyorBelt" />
	</div>

	<img src="images/logo.png" id="introLogo" />

	<input type="text" id="playerName" placeholder="Tu nombre" />

</div>

