
<style> body { background: #2d3e50;} </style> 

<div id="picker" class="Scene" style="background-repeat: no-repeat; xposition: absolute;">
	<!-- <img src="images/scenes/picker_brief.png" id="pickerBrief" /> -->
	<img src="images/scenes/brief/brief_overlay.png" id="pickerBrief" /> 
	<img src="images/scenes/brief/brief_picker_titulo_biodigestor.png" id="brief_titulo" />
	<img src="images/scenes/brief/brief_puntos.png" id="brief_puntos" />
	<img src="images/scenes/brief/brief_tiempo.png" id="brief_tiempo" />
</div>

