
<style>
	
#pageFold 
{
	opacity:0;
	-webkit-animation-name: bubbleIn;
	-webkit-animation-duration: .3s;
	-webkit-transform-origin:50% 0%;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-timing-function: ease-in-out;
	background:url('images/scenes/bg_mensaje.png') center top no-repeat;
	position: absolute;
	width:722px;
	height:612px;
	right:160px;
	top: 0px;
	z-index:-1;
}

#rankingScene
{
	background: #17bc99;
	padding: 20px 20px 0px 20px;
	display: none;
	z-index:0;

}

#rankingButtons
{
	position:absolute;
	bottom:20px;
	text-align:center;
	width:98%;
	z-index: 1;
	opacity:0;
	-webkit-animation-name: bubbleIn;
	-webkit-animation-duration: .3s;
	-webkit-transform-origin:50% 100%;
	-webkit-animation-delay:2s;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-timing-function: ease-in-out;

}
	#rankingButtons img
		{
			margin:0 120px;
			cursor: pointer;
		}

h1
	{
	font-weight: normal;
	text-align:center;
	color: #17bc99;
	font-size: 5em;
	width: 590px;
	position:absolute;
	top:80px;
	left:240px;
	text-shadow: 0px 5px 0px rgba(0, 0, 0, .1);
	opacity:0;
	-webkit-animation-name: fadeZoomRotateIn;
	-webkit-animation-duration: .5s;
	-webkit-animation-delay: .3s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-timing-function: ease-in-out;
	 }


table
{
	/*text-shadow: 0px 3px 0px rgba(0, 0, 0, .1);*/

	opacity:0;
	-webkit-animation-name: fadein;
	-webkit-animation-duration: .5s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-delay:1s;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-timing-function: ease-in-out;	
	 position:absolute;
	 top:250px;
	 left:290px;
	color: #25ae5e;
	z-index:5;
	width: 460px;
	margin: 0px auto;
	font-size: 1.8em;
	text-align: center;
	padding:0; 
	
}


	th
	{
		color: gray;
		font-weight:normal;
	}
	.table_nombre {
		text-align:left;
		font-size: 1.2em;
	}
	.table_puntos {
		color:#e94c3d;
		
	}
	.table_position {
		color:#58aee5;
	}

</style>

<div id="rankingScene" class="Scene">
	
	<img style="display:none;" src="images/scenes/h1_puntuaciones.png" id="h1_puntajes" />

	<h1 >Puntajes</h1>

	<table id="players" >
		<thead>
			<tr>
				<th style="width:80px;"></th>
				<th style="text-align:left;">Jugador</th>
				<th style="width:90px;">Puntos</th>
			</tr>
		</thead>
	<tbody id="hofEntries">
	</tbody>
	</table>

	<div id="pageFold"></div>

	<div id="rankingButtons">
		<img src="images/scenes/intro/button_reset.png" id="resetScores" />
		<img src="images/scenes/intro/button_volver.png" id="gotoIntro" />
	</div>

</div>

<script id="hofEntry" type="text/x-handlebars-template">
<tr>
	<td class="table_position">{{ position }}</td>
	<td class="table_nombre">{{ player.name }}</td>
	<td class="table_puntos">{{ game.score }}</td>
</tr>
</script>

