
<style>

section#gameplay
{
	position: relative;
}
	section#gameplay dl
	{
		position: absolute;
		top: 10px;
		right: 30px;
	}

img.AnimatedClock
{
	position: absolute;
	top: 10px;
	left: 10px;
}

div#cinta
{
	overflow: hidden;
	margin: 0px auto;
	width: 186px;
	height: 269px;
	background: url('../../images/cinta.png') no-repeat;
}
	div#cinta img#cintaFg
	{
		margin-left: 25px;
		margin-top: 1px;
	}

div#containers
{
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 10;
}
	div#containers div.Container
	{
		width: 33%;
		text-align: center;
		display: inline-block;
	}
		div#containers div.Container img
		{
			cursor: pointer;
		}

	img.Element
	{
		position: absolute;
		z-index: 0;
	}

</style>

<section id="gameplay" class="Hidden">
	<dl>
		<dt>Nivel</dt>
		<dd id="level">0</dd>
	
		<dt>Tiempo transcurrido</dt>
		<dd id="elapsedTime">0</dd>

		<dt>Puntos</dt>
		<dd id="correctMovements">0</dd>

		<dt>Elementos restantes</dt>
		<dd id="pendingElements">0</dd>
	</dl>

	<div id="cinta">
		<img src="images/cinta-anim.gif" id="cintaFg" />
	</div>

	<div id="containers"></div>

</section>

