
<style>

#gameplay
{
	display: block;
	margin: 0px auto;
	height: 740px;
}
	#gameplay dl
	{
		position: absolute;
		text-align: right;
		top: 50px;
		right: 80px;
		color: #fff;
		font-size: 1.5em;
		margin: 0;
		padding: 0;
	}
	#gameplay dd {
		color:#f2c40f;
		font-size: 1.5em;
		margin: 0;
		padding: 0;
	}

#overlay {
	background: url('images/scenes/brief/brief_overlay.png');
	position:absolute;
	}

div#cinta
{
	overflow: hidden;
	margin: 5px auto 0 auto;
	width: 186px;
	height: 269px;
	background: url('images/cinta.png') no-repeat;
}
	div#cinta img#cintaFg
	{
		margin-left: 25px;
		margin-top: 1px;
	}

div#containers
{
	position: absolute;
	bottom: 80px;
	left: 0px;
	right: 0px;
	z-index: 10;
}
	div#containers div.Container
	{
		width: 33%;
		text-align: center;
		display: inline-block;
	}
		div#containers div.Container img
		{
			cursor: pointer;
			width:70%;
		}

	img.Element
	{
		position: absolute;
		z-index: 0;
	}

dd, dl
{
	/*color: black;
	font-size: 20px;*/
}

</style>

<div id="overlay">

<div id="gameplay" class="Scene">
	<dl>
		<dt>Nivel</dt>
		<dd id="level">0</dd>
	
		<dt>Tiempo</dt>
		<dd id="elapsedTime">0</dd>

		<dt>Puntos</dt>
		<dd id="correctMovements">0</dd>

		<dt>Elementos restantes</dt>
		<dd id="pendingElements">0</dd>
	</dl>

	<div id="cinta">
		<img src="images/cinta-anim.gif" id="cintaFg" />
	</div>

	<div id="containers"></div>

</div>


