
<style>

#gameoverScene
{
	position: relative;
}
	#gameoverScene img.Sidebar
	{
		position: absolute;
		top: 0px;
		left: 0px;
	}
	#gameoverScene div
	{
		position: absolute;
		top: 150px;
		left: 0px;
		right: 0px;
		text-align: center;
	}

</style>

<div id="gameoverScene">
	<img src="images/brief_sidebar.png" class="Sidebar" />

	<div>
		<p><img src="" id="outcome" /></p>	
		<p><img class="Button" id="replayButton" src="images/buttons/play-again.png" /></p>
	</div>

	<p><button id="viewHalloffame2">Ir al salón de la fama</button></p>
</div>

