
<style>
/* COLOR DE FONDO PARA LA INTRO, ELIMINAR SI ES INCORRECTA LA POSICION */
body { background: #17bc99; }


#bg_message 
{
	background:url('images/scenes/bg_mensaje.png') center top no-repeat;
	position: absolute;
	width:722px;
	height:612px;
	right:160px;
	top: 0px;
	z-index:-1;
}

#gameoverScene h1
{
	color: #F7DD63;
	font-size: 50px;
	text-align: center;
}
#gameoverScene h2
{
	font-size: 35px;
	text-align: center;
}

#gameoverButtons
{
	text-align: center;
	position:absolute;
	bottom:-7px;
	width:98%;
}
	#gameoverButtons img
		{
			margin:0 100px;
			cursor: pointer;
		}

#gameoverLogo
{
	display: block;
	margin: 0px auto;
}

#gameoverScene
{
	background: #17bc99;
	display: none;
}
	#gameoverScene.Winner
	{
		background: #17bc99;
	}
	#gameoverScene.Loser
	{
		background: #e94c3d;
	}

#gameoverBg
{
	position: absolute;
	bottom: 0px;
}

</style>

<div id="gameoverScene" class="Scene">

	<img style="display:none;" src="images/scenes/intro/bg.png" id="gameoverBg" />

	<div id="bg_message"></div><!-- nuevo fondito -->

	<div id="gameoverButtons">

		<img src="images/scenes/intro/button_puntaje.png" id="viewHalloffame2" />
		<img src="images/scenes/intro/button_volver.png" id="gotoIntro" />
	</div>

	<img src="images/logo.png" id="gameoverLogo" />

	<div class="Winner Hidden">
	<h1>¡Ganaste! :)</h1>
	<h2>Lograste <span class="Puntos">0</span> puntos<br />en <span class="Segundos">0</span> segundos.</h2>
	</div>

	<div class="Loser Hidden">
	<h1>Perdiste :(</h1>
	<h2>Lograste <span class="Puntos">0</span> puntos<br />en <span class="Segundos">0</span> segundos.</h2>
	</div>

		

</div>

