
section#gameover
{
	position: relative;
}
	section#gameover img.Sidebar
	{
		position: absolute;
		top: 0px;
		left: 0px;
	}

	section#gameover div
	{
		position: absolute;
		top: 150px;
		left: 0px;
		right: 0px;
		text-align: center;
	}


