
<style>

#brief
{
	height: 768px;
	width: 1024px;
}

#overlay {
	background: url('images/scenes/brief/brief_overlay.png');
	height: 768px;
	width: 1024px;
	margin: auto;
	position:absolute;
}

#BriefTitle {
	position:absolute;
	top: 138px;
	left : 138px;
	z-index:21;
	opacity:0;
	-webkit-animation-name: fadeZoomRotateIn;
	-webkit-animation-duration: 1s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-timing-function: ease-in-out;
}

#BriefItems {
	position:absolute;
	z-index:19;
	top: 285px;
	left : 47px;
	opacity:0;
	-webkit-animation-name: fadein;
	-webkit-animation-duration: .5s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-delay: 1.5s;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-timing-function: ease-out;
}

.BriefTime {
	position:absolute;
	top: 480px;
	left : 15px;
	opacity:0;
	z-index:23;
	-webkit-animation-name: bubbleIn;
	-webkit-animation-duration: .2s;
	-webkit-transform-origin:20% 100%;
	-webkit-animation-delay: 13s;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-timing-function: ease-in-out;
}

#BriefStartButton {
	position:absolute;
	top: 545px;
	left : 202px;
	z-index:18;
	opacity:0;
	-webkit-animation-name: bubbleIn;
	-webkit-animation-duration: .5s;
	-webkit-transform-origin:50% 100%;
	-webkit-animation-delay: 6s;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-timing-function: ease-in-out;
}


</style>

<div id="brief">

	<div id="overlay"></div>

	<img src="images/scenes/brief/brief_reciclador_titulo.png" id="BriefTitle"/>
			
	<img src="images/scenes/brief/brief_reciclador_maquinas.png" id="BriefItems"/>
	<img src="images/scenes/brief/brief_reciclador_enchufe.png" id="BriefStartButton" />
	
	<img src="images/scenes/brief/brief_tiempo.png" class="BriefTime" />
	<img src="images/actors/recyclingPlant/start.png" style="bottom: 0px; position: absolute; z-index: 11;" />
	
</div>

